<header>
    <h1>TicTacToe</h1>
</header>
<section>
    <div class="message"></div>
    <ul id="board" class="unstyled">
        <li id="square_0" class="square"></li>
        <li id="square_1" class="square"></li>
        <li id="square_2" class="square"></li>
        <li id="square_3" class="square"></li>
        <li id="square_4" class="square"></li>
        <li id="square_5" class="square"></li>
        <li id="square_6" class="square"></li>
        <li id="square_7" class="square"></li>
        <li id="square_8" class="square"></li>
    </ul>
</section>
